@model List<Contract>
@{
    var productSerialNumber = 1;
}
<a asp-controller="NewContract" asp-action="Index" type="button" class="btn btn-warning">Добавить новый договор</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ФИО</th>
            <th scope="col">IP</th>
            <th scope="col">Услуга</th>
            <th scope="col">Дата</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model)
        {
            <tr scope="row">
                <td>@productSerialNumber</td>
                <td>@contract.Name</td>
                <td>@contract.IPAddress</td>
                <td>@contract.ServiceType</td>
                <td>@contract.Date.Date</td>        
                <td><a asp-controller="Contract" asp-action="ChangeStatus" asp-route-id="@contract.Id" type="button" class="btn btn-info">@contract.Status.ToString()</a></td>
                <td><a asp-controller="Edit" asp-action="Index" asp-route-id="@contract.Id" type="button" class="btn btn-outline-danger">Редактировать</a></td>
            </tr>

            productSerialNumber++;

        }



    </tbody>
</table>